* {
  margin: 0;
  padding: 0;
}
.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-right li {
  margin-left: 1rem;
}

.footer-right a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  nav {
    flex-wrap: wrap;
  }

  nav div {
    flex-basis: 100%;
    text-align: center;
  }

  nav ul {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  nav ul li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  section {
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
  }
}
